
body, html {
    height: 100%;
    margin: 0;
    font: 400 15px / 1.8 "Lato", sans-serif;
    color: #929292;
}

.bgimg {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brezel {
    background-image: url(../images/brezel.webp);
    min-height: 100%;
}

.rouladen {
    background-image: url(../images/rouladen-plate.webp);
    min-height: 100%;
}

.schnitzel {
    background-image: url(../images/schnitzel.webp);
    min-height: 100%;
}

.schwarzwalder {
    background-image: url(../images/schwarzwalder-kirschtorte.webp);
    min-height: 100%;
}

.desc {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.caption {
    font-size: 2rem;
    color: white;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
}

.desc__p {
    margin: 1.5rem;
}

h1 {
    font-size: 2em;
    margin: 1rem auto;
    text-align: center;
}