/* body {
    display: flex;
    margin: 0 1em;
    height: 100vh;
    flex-direction: column-reverse;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main {
    display: flex;
    width: 100%;
}

.header__div, .main__div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header__div {
    width: 50%;
}

.header__pic--img {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5em;
}

.header__p {
    line-height: 1.3rem;
}

.header__icon {
    height: 2rem;
    width: 2rem;
    margin: 1rem;
} */