
:root {

    --ppDim: 320px;
}

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#leftSection, #rightSection {
    width: 50vw;
    padding: 2rem;
}

#PP img {
    max-width: 100%;
}

#PP {
    width: var(--ppDim);
    height: var(--ppDim);
    border-radius: 70px;
    overflow: hidden;
}

#leftSection {
    display: flex;
    justify-content: space-around;
}

#monCv {
    height: var(--ppDim);
    width: 30%;
}