@font-face {
    font-family: "Roboto";
    src: url(/font/Roboto-Black.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Roboto";
}

h2 {
    font-size: 2em;
    margin: 1em 2em;
    border-bottom: 0.3em solid yellow;
    display: inline-block;
}

.header {
    height: 9vh;
    background-color: black;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-logo-img {
        position: relative;
        left: -45%;
        top: -10%;
        width: 120px;
    }
    .header-logo {
        height: 64px;
        width: 64px;
        border-radius: 32px;
        overflow: hidden;
    }
    .header-burger {
        height: 50px;
    }
}

.hall {
    height: calc(100vh - 9vh);
    background-image: url(/images/schnitzel.webp);
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .hall-intro {
        font-size: 2em;
        padding: 6em 1em;
        color: white;
    }
}

.content {
    font-size: 1.2em;
    margin: 1em;
}

.about {
    display: flex;
    flex-direction: column;
    .about-img {
        width: 80%;
        margin: auto;
        margin-bottom: 2em;
    }
}

.career {
    .career-odd,
    .career-even {
        display: flex;
        flex-direction: column;
    }

    .career-div {
        display: flex;
        flex-direction: column;
    }
    .career-title {
        font-size: 1.5em;
        margin-left: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .career-society {
        color: #666;
        margin-left: 1.5rem;
    }
    .career-date {
        color: #666;
        margin-left: 1.5rem;
        font-size: 0.8em;
    }

    .career-img {
        height: 200px;
        width: 60%;
        margin: auto;
        margin-bottom: 2rem;
    }
    .career-img::after {
        content: "";
        margin: 1rem 0;
        border: 10px solid #666;
    }
}
